*~
.cproject
.project
.settings
.vscode/
*.code-workspace
build/
dist/
*.o
*.la
*.lo
.deps
.libs
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
stamp-h1
ssp/
