[Unit]
Description=RdkEasyMeshController service

After=ccspwifiagent.service

[Service]
Type=simple
WorkingDirectory=/usr/ccsp/easymesh
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/em_ctl -e
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=default.target
