[Unit]
Description=RdkEasyMeshController service

After=ccspwifiagent.service

[Service]
Type=simple
WorkingDirectory=/usr/ccsp/easymesh
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
Environment="MAP_CONTROLLER_LOG_LEVEL=error"
Environment="MAP_PLATFORM_LOG_LEVEL=error"
Environment="MAP_IEEE1905_LOG_LEVEL=error"
Environment="MAP_SSP_LOG_LEVEL=error"
Environment="MAP_LOG_OUTPUT=fileonly"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/em_ctl -subsys eRT. -e
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=default.target
